.right-App {
    background-image: url("../images/drum.jpg");
    background-size: cover;
    flex: 3;

}
.left-App {
    background-color: #DD2C00;
    flex: 1;
    -webkit-transition: flex 2s;

}
.title {
font-size: 2em;
color: black;
font-family: "Century Gothic", "Century Gothic", serif;

}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.App-logo {
    opacity: 0.9;
}