@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';


.container {
    margin: 0;
    padding: 10px;
}

.header {
    font-size: 2em;
    color: ghostwhite;
    font-family: "Plantin", "Plantin", serif;

}

.redbg {
    background-color: #000000;
}


.agendaItem {
    width: 100%;
    padding: 3%;
    font-family: "Plantin", "Plantin", serif;
}

img:before {
    content: "";
    display: block;

    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px dotted #37474F;
    border-radius: 5px;
}

img:after {
    content: "Image not found!";
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: "Plantin" , "Plantin", serif;
    color: #37474F;
    position: absolute;
    top: 5px;
    padding: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

body{
    font-family: "Plantin", "Plantin", serif;
}
