@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';

.whiteBox {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
    margin-right: 20%;
    background-color: rgba(255, 255, 255, 0.99);
    padding: 4%;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 40px black;
}

.container {
    background-image: url("../images/drum.jpg");
    background-attachment: scroll;
    background-size: cover;
    overflow-y: scroll;

}

.header {
    font-size: 2em;
    color: black;
    font-family: "Century Gothic", "Century Gothic", serif;

}

.redbg {
    background-color: #DD2C00;

}

.sidebar{
    visibility: visible;
}


