@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';

.whiteBox {
    width: 100%;
    margin-top: 10%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.99);
    padding: 4%;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 40px black;
}

@media (min-width: 800px) {
    .whiteBox {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 60%;
        margin-left: 20%;
        border-radius: 5px;
        margin-right: 20%;
        background-color: rgba(255, 255, 255, 0.99);
        padding: 4%;
        position: absolute;
        z-index: 2;
        box-shadow: 5px 5px 40px black;
    }
}

.whiteBoxPartituur {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    margin-right: 10%;
    background-color: rgba(245, 245, 245, 0.95);
    padding: 4%;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 40px black;
}

.container {
    background-image: url("../images/drum.jpg");
    background-attachment: scroll;
    background-size: cover;
    overflow-y: scroll;
}

.header {
    font-size: 2em;
    color: black;
    font-family: "Plantin", "Plantin", serif;

}

.redbg {
    background-color: #000000;

}

.sidebar {
    visibility: visible;
}

.agendaItem {
    width: 100%;
    padding: 3%;
    font-family: "Plantin", "Plantin", serif;
}

img:before {
    content: "";
    display: block;

    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px dotted rgb(200, 200, 200);
    border-radius: 5px;
}

img:after {
    content: "Image not found!";
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: "Plantin" , "Plantin", serif;
    color: rgb(100, 100, 100);
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

body{
    font-family: "Plantin", "Plantin", serif;
}
