.right-login {
    background-image: url("../images/drum.jpg");
    background-size: cover;
    flex: 3;

}

.title {
    font-size: 2em;
    color: black;
    font-family: "Century Gothic", "Century Gothic", serif;

}

.left-login {
    background-color: #DD2C00;
    flex: 1;

}

.instrumentForm {
    margin-top: 5%;
    width: 40%;
    margin-left: 10%;
    border-radius: 5px;
    margin-right: 10%;
    background-color: rgba(245, 245, 245, 0.95);
    padding: 4%;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 40px black;
}