
.header {
    font-size: 3em;
    color: black;
    font-family: "Century Gothic", "Century Gothic", serif;
}

html {
    height: 100%;
}
body {
    min-height: 100%;

}


.container {
    position: absolute;
    display: flex;
    z-index: 1;
    height: 100%;
    width: 100%;


}


.left-half {
    background-image: url("../images/loginbg.jpg");
    background-size: cover;
    flex: 2.2;
    -webkit-transition: flex 3s; /* For Safari 3.1 to 6.0 */
}

.right-half {
    background-color: #DD2C00;
    flex: 1;

}

.loginForm {
    margin-top: 10%;
    text-align: center;
    width: 40%;
    margin-left: 40%;
    border-radius: 5px;
    margin-right: 20%;
    background-color: rgba(255, 255, 255, 0.99);
    padding: 4%;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 40px black;
}


.loginButton {
    height: 30px;
    width: 60%;
    margin-top: 3%;
    border-width: 2px;
    border-color: white;
    border-radius: 2px;

}

