html
{
    width: 100%;
    overflow: hidden;

}

body{

}

*, *:before, *:after
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.flexBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

}


.sidebar{
}

.application{
    flex-grow: 2;
    overflow-y: scroll;
}