.card{
    margin-right: 50px;
    margin-left:50px;
}

button{
    margin: 20px;
    padding: 10px;
    width: 150px;
}

label{
    padding: 5px;
    align-self: left;
}

input{
    padding: 5px;
    align-self: left;
}
